.square {
    width: 50px;
    height: 50px;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    line-height: 50px;
    float: left;
    background: #fff;
    border: 1px solid #999;
    cursor: pointer;
}

.board-row {
    display: flex;
    justify-content: center;
    clear: both;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}